body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: linear-gradient(to bottom right, rgb(37, 179, 100), rgb(164, 239, 245));
}


textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 8px dashed black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  font-size: 16px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 2px solid black;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  cursor: pointer;
  font-size: 19px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.col-2 {

  text-align: center;
}

.container {
  margin-bottom: 20px;
}